@font-face {
    font-family: 'Noto Serif Hebrew';
    src: url('/fonts/noto-serif-hebrew-300.woff2') format('woff2'),
        url('/fonts/noto-serif-hebrew-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    unicode-range: U+0590-05FF;
}
