@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans-500.woff2') format('woff2'), url('/fonts/noto-sans-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    unicode-range: U+0-10FFFF;
}
