@font-face {
    font-family: 'Noto Serif';
    src: url('/fonts/noto-serif-900-italic.woff2') format('woff2'),
        url('/fonts/noto-serif-900-italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: auto;
    unicode-range: U+0-10FFFF;
}
