@font-face {
    font-family: 'Noto Serif Greek';
    src: url('/fonts/noto-serif-300.woff2') format('woff2'), url('/fonts/noto-serif-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    unicode-range: U+0370-03FF, U+1F00-1FFF;
}
