@font-face {
    font-family: 'Noto Sans Mono';
    src: url('/fonts/noto-sans-mono-100.woff2') format('woff2'), url('/fonts/noto-sans-mono-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: auto;
    unicode-range: U+0-10FFFF;
}
