@font-face {
    font-family: 'Noto Sans Greek';
    src: url('/fonts/noto-sans-400.woff2') format('woff2'), url('/fonts/noto-sans-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+0370-03FF, U+1F00-1FFF;
}
