@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans-300-italic.woff2') format('woff2'),
        url('/fonts/noto-sans-300-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: auto;
}
