@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans-900.woff2') format('woff2'), url('/fonts/noto-sans-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}
