@font-face {
    font-family: 'Noto Serif Greek';
    src: url('/fonts/noto-serif-100.woff2') format('woff2'), url('/fonts/noto-serif-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: auto;
    unicode-range: U+0370-03FF, U+1F00-1FFF;
}
