@font-face {
    font-family: 'Noto Serif';
    src: url('/fonts/noto-serif-800-italic.woff2') format('woff2'),
        url('/fonts/noto-serif-800-italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: auto;
}
