@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans-800-italic.woff2') format('woff2'),
        url('/fonts/noto-sans-800-italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: auto;
    unicode-range: U+0000-036F, U+0400-1EFF, U+2000-10FFFF;
}
