@font-face {
    font-family: 'Noto Serif';
    src: url('/fonts/noto-serif-300.woff2') format('woff2'), url('/fonts/noto-serif-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}
